.app {
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 500px;
	grid-gap: 0 50px;
}

.form {
	grid-column: 1;
	padding-top: 60px;
}

.flag {
	max-width: 500px;
	height: auto;
	grid-column: 2;
}

.form-field {
	display: block;
	margin: 0 0 1em;

	.form-label {
		display: block;
		margin: 0 0 0.5em;
	}
}

button {
	display: inline-block;
	-webkit-appearance: none;
	appearance: none;
	padding: 7px;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	background: #F4F4F5;
	border: 1px solid #ccc;

	span {
		display: inline-block;
		padding-right: 7px;
		vertical-align: middle;
	}

	.gridicon {
		top: 5px;
	}

	.gridicons-plus-small {
		margin-left: -4px;
	}

	.gridicons-cross-small {
		color: #C25E4A;
	}
}

input,
select {
	border: 1px solid #ccc;
}

select {
	-webkit-appearance: none;
	appearance: none;
	padding: 7px 32px 7px 16px;
	background: #F4F4F5 url($arrow) no-repeat 95% center;
	border-radius: 0;
	width: 100%;
}
