.color-picker {}

.color-picker__header {
	padding-bottom: 8px;
	display: flex;

	input, button {
		flex: 0 1 80px;
	}

	input {
		flex: 1;
		padding: 5px 10px;
		border-width: 1px 0;
	}

	.button-drop {
		color: white;

		&.is-light-bg {
			color: rgba( #222, 0.7 );
		}

		&:not(.is-light-bg) .gridicon  {
			$shadow: 0 0 1px rgba( 0, 0, 0, 0.5 );
			-webkit-filter: drop-shadow( $shadow );
			        filter: drop-shadow( $shadow );
		}
	}
}

.circle-picker {
	margin-bottom: 0 !important;
}
