.color-picker {}

.color-picker__header {
	padding-bottom: 8px;
	display: flex;

	input, button {
		flex: 0 1 80px;
	}

	input {
		flex: 1;
		padding: 5px 10px;
		border-width: 1px 0;
	}

	.button-drop {
		color: white;
	}
}

.circle-picker {
	margin-bottom: 0 !important;
}
