// Reset CSS
@import 'sanitize';
$arrow: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10px' height='7px' viewBox='0 0 20 14'%3E%3Cpolygon fill='%23888' points='20 0 10 13.2617233 0 0'%3E%3C/polygon%3E%3C/svg%3E";

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

h1 {
	margin-top: 0;
	font-size: 1.4rem;
}

@import 'app';
@import 'color-picker';
